@import "../Base/Colours.scss";

.f-tooltip-A {
  z-index: 3;

  .tt-icon {
    position: absolute;
    left: 34px;
    top: 0px;
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    letter-spacing: 0.2px;
    color: #929292;
    transition: (background-color 0.3s, color 0.3s);

    &::before {
      content: "?";
    }
  }

  .tt-content {
    position: absolute;
    left: -127px;
    bottom: 25px;
    width: 210px;
    text-align: left;
    visibility: hidden;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    color: #929292;
    font-size: 12px;
    letter-spacing: 0.3px;
    //white-space: nowrap;
    transition: (opacity 0.35s 0.2s, visibility 0s 0.55s);

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      z-index: 5;
      bottom: -4px;
      left: 127px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
    }

    &:after {
      display: inline-block;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 10px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #f1f1f1;
    }
  }

  &:not(.disabled):hover {
    cursor: help;

    .tt-icon {
      color: #fff !important;
      background-color: #04a699;
    }

    .tt-content {
      opacity: 1;
      visibility: visible;
      transition: (opacity 0.35s 0.2s, visibility 0s 0.2s);
    }
  }
}

.f-tooltip-deleted {
  .tt-icon {
    display: none;
  }
}


