@import "../Base/Colours.scss";
@import "../Base/Globals.scss";

#index {
  height: calc(100% - 30px);


  .showCase {
    height: calc(100% - 150px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    .showCaseTitle {
      width: 930px;
      margin-bottom: 65px;
    }
    .showCaseLink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 221px;
      height: 73px;
      border-radius: 20px;
      border-top-left-radius: 0;
      background-color: $CT-P100;
    }
  }
  .brands {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      margin-right: 110px;
      &.lg {
        height: 24px;
      }
      &.samsung {
        height: 20px;
      }
      &.apple {
        height: 88px;
      }
      &.huawei {
        height: 120px;
      }
      &.xiaomi {
        height: 32px;
      }
      &.sony {
        height: 18px;
        margin-right: 0;
      }
    }
  }
}

@mixin common-lg() {

}

@mixin common-md() {

}

@mixin common-sm1-sm2() {
  #index {
  
    .showCase {
      padding: 100px 0 0 80px;
      .showCaseTitle {
        width: 500px;
        text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
      }
      .showCaseLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 221px;
        height: 73px;
        border-radius: 20px;
        border-top-left-radius: 0;
        background-color: $CT-P100;
      }
    }
    .brands {
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 80px;
      img {
        width: auto;
        margin-right: 0;
        &.lg {
          height: 22px;
        }
        &.samsung {
          height: 18px;
        }
        &.apple {
          height: 80px;
        }
        &.huawei {
          height: 110px;
        }
        &.xiaomi {
          height: 29px;
        }
        &.sony {
          height: 16px;
          margin-right: 0;
        }
      }
    }
  }
}

@mixin common-xs1-xs2() {
  #index {
    .showCase {
      padding: 260px 10px 0 10px;
      .showCaseTitle {
        width: calc(100% - 20px);
        margin-bottom: 15px;
      }
    }
    .brands {
      padding: 0 10px;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        margin-right: 50px;
        &.lg {
          height: 24px;
        }
        &.samsung {
          height: 20px;
        }
        &.apple {
          height: 70px;
        }
        &.huawei {
          height: 90px;
        }
        &.xiaomi {
          height: 32px;
        }
        &.sony {
          height: 18px;
          margin-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: #{($mq-xs2 - 1) + "px"}) {
  @include common-xs1-xs2();
}

@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
  @include common-xs1-xs2();
}

@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-sm2 - 1) + "px"}) {
  @include common-sm1-sm2();
  #index {
    .showCase {
      padding: 280px 0 0 80px;
    }
  }
}

@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  @include common-sm1-sm2();
}

@media all and (min-width: #{$mq-md + "px"}) and (max-width: #{($mq-lg - 1) + "px"}) {
  @include common-lg();
}

@media all and (min-width: #{$mq-lg + "px"}) {
  @include common-lg();
}
