// Colour Table of Primary Colours
$CT-P900: #004e3e;
$CT-P800: #00695b;
$CT-P700: #00796a;
$CT-P600: #01897a;
$CT-P500: #009786;
$CT-P400: #04a699;
$CT-P300: #43b7ab;
$CT-P200: #7bcbc3;
$CT-P100: #b0dfda;
$CT-P050: #e0f3f1;

// Colour Table of Secondary Colours
$CT-S900: #1f1b64;
$CT-S800: #2c2c78;
$CT-S700: #343585;
$CT-S600: #3d408f;
$CT-S500: #424799;
$CT-S400: #5c61a7;
$CT-S300: #787db6;
$CT-S200: #9ea1cb;
$CT-S100: #c4c7e0;
$CT-S050: #e7e8f2;

// Colour Table of Tertiary Colours
$CT-T900: #ca252c;
$CT-T800: #d93039;
$CT-T700: #e53740;
$CT-T600: #f94147;
$CT-T500: #ff4948;
$CT-T400: #ff5c61;
$CT-T300: #f17c81;
$CT-T200: #f8a0a4;
$CT-T100: #ffd1d8;
$CT-T050: #ffedf1;

// Colour Table of Black Tones
$CT-B900: #181818;
$CT-B800: #383838;
$CT-B700: #565656;
$CT-B600: #6a6a6a;
$CT-B500: #929292;
$CT-B400: #b2b2b2;
$CT-B300: #d6d6d6;
$CT-B200: #e7e7e7;
$CT-B100: #f1f1f1;
$CT-B050: #fafafa;


//tasarımda var guide de yok
$CT-B001: #efefef;
$CT-B002: #f2f2f2;
$CT-B003: #44d7b6;
$CT-B004: #1977f3;
$CT-B005: #cf4332;
$CT-B006: #484848;
$CT-B007: #f5fffd;
$CT-B008: #959595;
$CT-B009: #333333;

